body{
 background-color: purple;

}

.circle {
  border: 10px solid #000;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  box-shadow: 5px 5px 5x rgba(0,0,0.5);
  position: absolute;
}

.bigcircle {
    border: 10px;
    background-color: rgba(255,255,255,.5);

   width: 460px;
  height: 460px;
  border-radius: 240px;

  position: relative;
  margin: 0 auto;

}

.circle1{
  background-color: green;
  border-color: darkgreen;
  top: 100px;
  left: 100px;
  z-index: 4;




}
.circle2 {

  background-color: blue;
  border-color: darkblue;
  top: 150px;
  left: 150px;
  z-index: 3;
}

.circle3{
  background-color: red;
  border-color: darkred;
  top: 200px;
  left: 200px;
  z-index: 2;
 }

.circle4 {
  background-color: yellow;
  border-color: gold;
  top:250px;
  left: 250px;
  z-index:1;
 }

